[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
gspread = "*"
"oauth2client" = "*"
python-binary-memcached = "*"

[dev-packages]

[requires]
python_version = "3.7"
